services:
  dapp-homepage:
    build: .
    container_name: dapp-homepage
    environment:
      PORT: "8000"
    ports:
      - "8000:8000"
    restart: unless-stopped
    networks:
      - proxy-network

networks:
  proxy-network:
    external: true

